# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python Cache
.pytest_cache/
.mypy_cache/

# Build
build/
dist/

# Logs
*.log